<f:layout name="default" /> This Template is responsible for creating a table of domain objects.
<f:section name="main">
    <h2>Fotogalerie</h2>
    <f:flashMessages/>
    <f:for each="{galleries}" as="gallery">
        <blockquote>
            <f:link.action action="show" arguments="{gallery : gallery}">
                {gallery.title}
            </f:link.action>
            <p>
                <f:format.nl2br>
                    {gallery.description}
                </f:format.nl2br>
            </p>
        </blockquote>
    </f:for>
</f:section>
